.App {
  text-align: center;
}
.item {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}
.important_item{
  background: #640D5F;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}
.createPart {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}
button {
  position: relative;
  margin-right: 10px;
  color: #605EA1;
  border: none;
  height: 36px;
  padding: 0 16px;
  outline: none;
  border-radius: 18px;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
}

.createPart {
  position: relative;
  width: 480px;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}
.createPart input,
.createPart textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
